/* .container {
    border: 2px double#f545c3;
    background-color: white;
    border-radius: 5px;
    width: 310px;
    padding: 3px 5px 20px 5px;
    box-shadow: #f0a2d6 1px 2px 4px 2px;
}

.img {
    border-radius: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px;
}

.img-title {
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    border: none;
    color: white;
        box-shadow: grey 1px 2px 3px 1px;
    margin: 0 30px;
  padding: 15px 32px;
    border-radius: 5px;
    background-color: #f96a76;
    height: 35px;
    cursor: pointer;
    font-size: 16px;

  }
  
.count{
    text-align: center;
    align-items: center;
}
.buy-now{
    margin-top: 18px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;  
} */




.container {
    border: 2px double #ff4d5b;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 3px 5px 20px 5px;
    box-shadow: #f1c6c6 1px 2px 4px 2px;
  }
  
  .img {
    border-radius: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px;
  }
  
  .btn-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .btn {
    border: none;
    box-shadow: grey 0px 2px 3px 1px;
    margin: 0 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f36974;
    height: 35px;
    cursor: pointer;
  }
  
  .img-title {
    text-align: center;
    font-family: cursive;
  }
  
  .count {
    text-align: center;
    align-items: center;
  }
  
  .buy-now{
    margin-top: 18px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
  }