
.container {
    border: 2px double #ff4d5b;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 3px 5px 20px 5px;
    box-shadow: #f1c6c6 1px 2px 4px 2px;
  }
  
  .img {
    border-radius: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px;
  }
  
  .btn-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .btn {
    border: none;
    box-shadow: rgb(163, 161, 161) 0px 2px 3px 1px;
    margin: 0 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f09098;
    height: 35px;
    cursor: pointer;
    text-align: center;
  }
  
  .img-title {
    text-align: center;
    font-family: cursive;
  }
  
  .count {
    text-align: center;
    align-items: center;
  }
  
  .buy-now{
    margin-top: 18px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
  }